<!-- <button pButton type="button" label="Click" >Botonnnnn</button> -->

<!-- <p-button label="Click" ></p-button> -->

<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="https://lh3.googleusercontent.com/zYC5m1Ag_BlrEhIusmI4nfu6k4wNt8uPo4hhAy66pzuVuTWmuwQZiKiaQmqYEdSwToUhdgq_15j6B9T3D2ZTbZRCk68=w640-h400-e365-rj-sc0x00ffffff" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://miro.medium.com/max/1400/1*XTubsV03ygXXSYxLqwu5IA.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbLNzUch2iQN4Hi3nGP-iil7H-N5sABnNw4w&usqp=CAU" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDjzUdd7XSU9gC2_r62ZcvYaV0a7TjGTdsg&usqp=CAU" alt="">
  </ng-template>
  <!-- <ng-template carouselSlide>Slide 5</ng-template> -->
</owl-carousel-o>
<div>Some tags after</div>
